<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.blindproductdetection">


    <!-- Speech RecognitionService -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <queries>
        <package android:name="com.google.android.googlequicksearchbox"/>
    </queries>


    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Audio Permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!-- Storage Permission -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlindProductDetection"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".DisplayProduct"
            android:exported="false" />

        <activity
            android:name=".ProductClassifier"
            android:exported="false" />

        <activity
            android:name=".Camera"
            android:exported="false" />

        <activity
            android:name=".DisplayCost"
            android:exported="false" />

        <activity
            android:name=".IdentifyCost"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>